# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tsbuildinfo
.source/
next-env.d.ts

# Misc
.DS_Store
*.pem
apps/web/src/app/(app)/test/page.tsx
apps/web/supabase/.temp/

.vscode/mcp.json
apps/web/src/actions/user/firebase.ts
apps/web/src/app/\[user]/\[slug]/ui/pay/card.tsx
apps/web/src/app/\[user]/\[slug]/ui/pay/index.tsx
apps/web/src/app/api/mobile/auth/firebase/route.ts
apps/web/src/app/mobile/auth/firebase/firebase-mobile-auth.tsx
apps/web/src/app/mobile/auth/firebase/page.tsx


apps/web/src/lib/auth/firebase-exchange.ts
apps/web/src/lib/utils/index.ts
apps/web/src/config/auth.ts
apps/web/src/components/search/transactions/index.tsx
apps/web/src/app/pay/page.tsx


