@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

@layer theme {
  :root {
    @variant light {
      --font-normal: 'sans-serif';
      --font-medium: 'sans-serif-medium';
      --font-semibold: 'sans-serif-medium';
      --font-bold: 'sans-serif';
      
      --radius: 0.5rem;
    }

    @variant dark {
      --font-normal: 'sans-serif';
      --font-medium: 'sans-serif-medium';
      --font-semibold: 'sans-serif-medium';
      --font-bold: 'sans-serif';

      --radius: 0.5rem;
    }
  }
}
